
# Created by https://www.toptal.com/developers/gitignore/api/node,react
# Edit at https://www.toptal.com/developers/gitignore?templates=node,react

### Node ###
# Logs
logs
*.log
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
public/tailwind.css
# Compiled binary addons (https://nodejs.org/api/addons.html)
build
# Dependency directories
node_modules/
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# dotenv environment variables file
.env.test
.env*.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### react ###
.DS_*
**/*.backup.*
**/*.back.*

node_modules
