import React from 'react'
{{#if hasCss }}
import './{{pascalCase name}}.scss'
{{/if}}

export interface propsModel {
  title?: string
}

const {{pascalCase name}} = (props: propsModel) => {
  return (
    <div className="{{pascalCase name}}">
      <h2>{props.title}</h2>
    </div>
  )
}

export default {{pascalCase name}}
