:root {
  --font-primary: "Gotham", "Helvetica Neue", sans-serif;
  --font-secondary: "Garlic Salt", "Helvetica Neue", sans-serif;
  --gray-100: #f5f5f5;
  --gray-200: #cccccc;
  --gray-300: #b2b2b2;
  --gray-400: #707070;
  --gray-500: #323232;
  --gray-600: #2d2d2d;
  --gray-700: #262626;
  --gray-800: #1e1e1e;
  --gray-900: #191919;
  --cl-error: #df4a57;
  --cl-primary-200: #f7d2d5;
  --cl-primary-300: #f2b7bc;
  --cl-primary-400: #e98089;
  --cl-primary-500: #df4a57;
  --cl-primary-600: #c9434e;
  --cl-primary-700: #a73841;
  --cl-primary-800: #862c34;
  --cl-primary-900: #6d242b;
  --cl-second-50: #f6faf3;
  --cl-second-100: #edf5e7;
  --cl-second-200: #d2e5c3;
  --cl-second-300: #b7d69f;
  --cl-second-400: #82b758;
  --cl-second-500: #4c9810;
  --cl-second-600: #44890e;
  --cl-second-700: #39720c;
  --cl-second-800: #2e5b0a;
  --cl-second-900: #254a08;
  --size-xs: 8px;
  --size-sm: 16px;
  --size-md: 24px;
  --size-lg: 32px;
  --size-xl: 40px;
  --size-xxl: 48px;
  --size-big: 56px;
  --size-max: 64px;
}
